################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/OracleDemo/v16
/OracleDemo/bin/Debug/netcoreapp3.1
/OracleDemo/obj
